.subpage--resume {
  b {
    color: lighten($ghost-blue, 35%);
  }

  .subpage__content-wrapper {
    padding-top: 0;
  }

  .subpage__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__resume-wrapper {
    flex: 1;
    width: 100%;
    margin-bottom: 0.3rem;

    iframe {
      border: 0;
    }
  }

  &__resume-links {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  &__resume-links-separator {
    display: none;

    @include media-responsive() {
      display: block;
    }
  }

  &__resume-link {
    padding: 1rem;
  }
}