.content {
  grid-area: content;
  text-align: center;
  overflow: hidden;

  .canvas-wrapper {
    width: 100%;
    height: 100%;

    canvas {
      max-width: 100%;
      max-height: 100%;
      aspect-ratio: 28/31;
    }
  }
}

.transition-element {
  min-width: 200vw;
  min-height: 200vh;
  aspect-ratio: 1/1;
  border-radius: 99999px;
  transform: translate(-50%, -50%);
  pointer-events: none;

  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: visible;
    transition: transform 500ms ease;
    transform: translate(50vw, 50vh) scale(0);
  }
}