<div data-route="/about" class="subpage subpage--about">
  <article class="subpage__wrapper">
    <div class="subpage__header">
      <a href="/" class="subpage__close-button">X</a>
      <h2 class="subpage__title">About me</h2>
    </div>
    <div class="subpage__content-wrapper">
      <div class="subpage__content">
        <div class="subpage--about__avatar">
          <img
            src="/images/Eduardo_Paez_Rubio.jpg"
            alt="Eduardo Paez Rubio"
            class="subpage--about__avatar-image"
          />
          <div class="subpage--about__avatar-arrow">
            <img src="/images/icons/arrow_right.svg" alt="Arrow" />
          </div>
          <div class="subpage--about__avatar-caption">This is me!</div>
        </div>
        <div>
          <p>
            My name is <b>Eduardo Páez Rubio</b> and I'm a <b>game developer</b> living
            in Munich.
          </p>
          <p>
            I was born and raised in the south of Spain where I developed a
            great interest for
            <b>computer science and technology</b>. I graduated with honors in
            Web Applications Development and migrated to Germany at the age of
            20 to get a job.
          </p>
          <p>
            I have a total of <b>12+ years experience</b> as a game developer, full-stack
            web developer and tools programmer.
          </p>
          <p>
            In my free time I speed-solve Rubik's cubes, design stuff for 3D
            printers and play video games and board games. And I love
            participating in game jams!
          </p>
          <p>
            But that's enough talking about myself! Why don't you have a <a
              href="/portfolio">look at my work</a
            > or
            <a href="/contact">get in touch</a>?
          </p>
        </div>
      </div>
    </div>
  </article>
</div>
