<div data-route="/resume" class="subpage subpage--resume">
  <article class="subpage__wrapper">
    <div class="subpage__header">
      <a href="/" class="subpage__close-button">X</a>
      <h2 class="subpage__title">CV</h2>
    </div>
    <div class="subpage__content-wrapper">
      <div class="subpage__content">
        <div class="subpage--resume__resume-wrapper">
          <iframe
            width="100%"
            height="100%"
            src="https://devpaezrubio.com/cv.html"></iframe>
        </div>
        <div class="subpage--resume__resume-links">
          <a
            href="https://devpaezrubio.com/cv.html"
            target="_blank"
            class="subpage--resume__resume-link">Open in new tab</a
          >
          <span class="subpage--resume__resume-links-separator">-</span>
          <a
            href="https://devpaezrubio.com/cv.pdf"
            target="_blank"
            class="subpage--resume__resume-link">Open as PDF</a
          >
        </div>
      </div>
    </div>
  </article>
</div>
